# 01. Importing libraries and dataset

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Create Path
path = r'C:\Users\vicky\OneDrive\文件\careerfoundry\Data Analytics Immersion\Exercise 6\05-2024 Project'

In [3]:
# import dataset
df = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'telco.csv'), index_col = False)

# 02. Understand the data

In [4]:
df.shape

(7043, 50)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 50 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Customer ID                        7043 non-null   object
 1   Gender                             7043 non-null   object
 2   Age                                7043 non-null   int64
 3   Under 30                           7043 non-null   object
 4   Senior Citizen                     7043 non-null   object
 5   Married                            7043 non-null   object
 6   Dependents                         7043 non-null   object
 7   Number of Dependents               7043 non-null   int64
 8   Country                            7043 non-null   object
 9   State                              7043 non-null   object
 10  City                               7043 non-null   object
 11  Zip Code                           7043 non-null   int64
 12  Latitude                           7043 non-null   float64
 13  Longitude                          7043 non-null   float64
 14  Population                         7043 non-null   int64
 15  Quarter                            7043 non-null   object
 16  Referred a Friend                  7043 non-null   object
 17  Number of Referrals                7043 non-null   int64
 18  Tenure in Months                   7043 non-null   int64
 19  Offer                              3166 non-null   object
 20  Phone Service                      7043 non-null   object
 21  Avg Monthly Long Distance Charges  7043 non-null   float64
 22  Multiple Lines                     7043 non-null   object
 23  Internet Service                   7043 non-null   object
 24  Internet Type                      5517 non-null   object
 25  Avg Monthly GB Download            7043 non-null   int64
 26  Online Security                    7043 non-null   object
 27  Online Backup                      7043 non-null   object
 28  Device Protection Plan             7043 non-null   object
 29  Premium Tech Support               7043 non-null   object
 30  Streaming TV                       7043 non-null   object
 31  Streaming Movies                   7043 non-null   object
 32  Streaming Music                    7043 non-null   object
 33  Unlimited Data                     7043 non-null   object
 34  Contract                           7043 non-null   object
 35  Paperless Billing                  7043 non-null   object
 36  Payment Method                     7043 non-null   object
 37  Monthly Charge                     7043 non-null   float64
 38  Total Charges                      7043 non-null   float64
 39  Total Refunds                      7043 non-null   float64
 40  Total Extra Data Charges           7043 non-null   int64
 41  Total Long Distance Charges        7043 non-null   float64
 42  Total Revenue                      7043 non-null   float64
 43  Satisfaction Score                 7043 non-null   int64
 44  Customer Status                    7043 non-null   object
 45  Churn Label                        7043 non-null   object
 46  Churn Score                        7043 non-null   int64
 47  CLTV                               7043 non-null   int64
 48  Churn Category                     1869 non-null   object
 49  Churn Reason                       1869 non-null   object
dtypes: float64(8), int64(11), object(31)
memory usage: 2.7+ MB

In [9]:
# Based on the above info looks like Offer, Internet Type, Churn Category, Churn Reason might have missing value. After further investgated no action is needed.

In [6]:
df.describe()

,Age,Number of Dependents,Zip Code,Latitude,Longitude,Population,Number of Referrals,Tenure in Months,Avg Monthly Long Distance Charges,Avg Monthly GB Download,Monthly Charge,Total Charges,Total Refunds,Total Extra Data Charges,Total Long Distance Charges,Total Revenue,Satisfaction Score,Churn Score,CLTV
count,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000
mean,46.509726,0.468692,93486.070567,36.197455,-119.756684,22139.603294,1.951867,32.386767,22.958954,20.515405,64.761692,2280.381264,1.962182,6.860713,749.099262,3034.379056,3.244924,58.505040,4400.295755
std,16.750352,0.962802,1856.767505,2.468929,2.154425,21152.392837,3.001199,24.542061,15.448113,20.418940,30.090047,2266.220462,7.902614,25.104978,846.660055,2865.204542,1.201657,21.170031,1183.057152
min,19.000000,0.000000,90001.000000,32.555828,-124.301372,11.000000,0.000000,1.000000,0.000000,0.000000,18.250000,18.800000,0.000000,0.000000,0.000000,21.360000,1.000000,5.000000,2003.000000
25%,32.000000,0.000000,92101.000000,33.990646,-121.788090,2344.000000,0.000000,9.000000,9.210000,3.000000,35.500000,400.150000,0.000000,0.000000,70.545000,605.610000,3.000000,40.000000,3469.000000
50%,46.000000,0.000000,93518.000000,36.205465,-119.595293,17554.000000,0.000000,29.000000,22.890000,17.000000,70.350000,1394.550000,0.000000,0.000000,401.440000,2108.640000,3.000000,61.000000,4527.000000
75%,60.000000,0.000000,95329.000000,38.161321,-117.969795,36125.000000,3.000000,55.000000,36.395000,27.000000,89.850000,3786.600000,0.000000,0.000000,1191.100000,4801.145000,4.000000,75.500000,5380.500000
max,80.000000,9.000000,96150.000000,41.962127,-114.192901,105285.000000,11.000000,72.000000,49.990000,85.000000,118.750000,8684.800000,49.790000,150.000000,3564.720000,11979.340000,5.000000,96.000000,6500.000000

In [10]:
# find duplicates
df_dups = df[df.duplicated()]

In [11]:
df_dups

Empty DataFrame
Columns: [Customer ID, Gender, Age, Under 30, Senior Citizen, Married, Dependents, Number of Dependents, Country, State, City, Zip Code, Latitude, Longitude, Population, Quarter, Referred a Friend, Number of Referrals, Tenure in Months, Offer, Phone Service, Avg Monthly Long Distance Charges, Multiple Lines, Internet Service, Internet Type, Avg Monthly GB Download, Online Security, Online Backup, Device Protection Plan, Premium Tech Support, Streaming TV, Streaming Movies, Streaming Music, Unlimited Data, Contract, Paperless Billing, Payment Method, Monthly Charge, Total Charges, Total Refunds, Total Extra Data Charges, Total Long Distance Charges, Total Revenue, Satisfaction Score, Customer Status, Churn Label, Churn Score, CLTV, Churn Category, Churn Reason]
Index: []

[0 rows x 50 columns]

In [12]:
# drop columns that are not needed for the analysis
df2 = df.drop(columns = ['Dependents','Country','State','Quarter','Referred a Friend'])

In [15]:
# check all columns
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 45 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Customer ID                        7043 non-null   object
 1   Gender                             7043 non-null   object
 2   Age                                7043 non-null   int64
 3   Under 30                           7043 non-null   object
 4   Senior Citizen                     7043 non-null   object
 5   Married                            7043 non-null   object
 6   Number of Dependents               7043 non-null   int64
 7   City                               7043 non-null   object
 8   Zip Code                           7043 non-null   int64
 9   Latitude                           7043 non-null   float64
 10  Longitude                          7043 non-null   float64
 11  Population                         7043 non-null   int64
 12  Number of Referrals                7043 non-null   int64
 13  Tenure in Months                   7043 non-null   int64
 14  Offer                              3166 non-null   object
 15  Phone Service                      7043 non-null   object
 16  Avg Monthly Long Distance Charges  7043 non-null   float64
 17  Multiple Lines                     7043 non-null   object
 18  Internet Service                   7043 non-null   object
 19  Internet Type                      5517 non-null   object
 20  Avg Monthly GB Download            7043 non-null   int64
 21  Online Security                    7043 non-null   object
 22  Online Backup                      7043 non-null   object
 23  Device Protection Plan             7043 non-null   object
 24  Premium Tech Support               7043 non-null   object
 25  Streaming TV                       7043 non-null   object
 26  Streaming Movies                   7043 non-null   object
 27  Streaming Music                    7043 non-null   object
 28  Unlimited Data                     7043 non-null   object
 29  Contract                           7043 non-null   object
 30  Paperless Billing                  7043 non-null   object
 31  Payment Method                     7043 non-null   object
 32  Monthly Charge                     7043 non-null   float64
 33  Total Charges                      7043 non-null   float64
 34  Total Refunds                      7043 non-null   float64
 35  Total Extra Data Charges           7043 non-null   int64
 36  Total Long Distance Charges        7043 non-null   float64
 37  Total Revenue                      7043 non-null   float64
 38  Satisfaction Score                 7043 non-null   int64
 39  Customer Status                    7043 non-null   object
 40  Churn Label                        7043 non-null   object
 41  Churn Score                        7043 non-null   int64
 42  CLTV                               7043 non-null   int64
 43  Churn Category                     1869 non-null   object
 44  Churn Reason                       1869 non-null   object
dtypes: float64(8), int64(11), object(26)
memory usage: 2.4+ MB